
#color {
   display: flex;
   flex-flow: column;
   height: 100%;
   background-color: skyblue;

}

.test {
   border: red solid 2px;
   height: 100%;
   margin: 0px;
}

.test {
   border: red solid 2px;
   height: 100%;
   margin: 0px;
}

h2 {
   font-family: 'Syne Mono', monospace;
}
img {
   border: 1px solid #ddd;
   border-radius: 4px;
   float:right;
   padding: 5px;
   width: 150px;
   z-index: -1;
}



.history {
   border: 1px solid black;
}